.jumbotron {
  height: 610px;
  text-align: center;
  background: url(/images/display.svg) center top no-repeat;
  background-size: 1048px 866px;
  overflow: hidden;
}

.jumbotron-item {
  padding-top: 40px;
}